@font-face {
  font-family: "ScriptinaPro";
  src: local("ScriptinaPro"),
    url("./assets/fonts/scriptina-pro/ScriptinaPro.otf") format("opentype");
}

.font-face-sp {
  font-family: "ScriptinaPro";
}

.robo {
  font-family: 'Roboto Slab', serif;
}

:root {
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-beige: #CEAA86;
  --primary-white:#DDCDBF;
  --secondary-rust: #9B5842;
  --accent-red-dark: #791208;
  --accent-green-dark:#404635;
  --accent-green-light: #616456;
  --accent-green-lightest: #b8bab1;

  color: var(--accent-green-dark);
  background-color: var(--primary-beige);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--accent-red-dark);
  margin: 10px;
}

a {
  color: var(--accent-red-dark);
  opacity: 1;
}

a:hover, a:focus {
  opacity: 0.8;
}

#root {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content {
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 0 7px;
}

@media only screen and (max-width: 1070px) {
  #root {
      flex-direction: column;
  }
}