@font-face {
  font-family: "ScriptinaPro";
  src: local("ScriptinaPro"),
    url("./assets/fonts/scriptina-pro/ScriptinaPro.otf") format("opentype");
}

.font-face-sp {
  font-family: "ScriptinaPro";
}

:root {
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  width: 100%;
}

.content {
  padding: 20px;
  box-sizing: border-box;
  margin-left: 50%;
}