@font-face {
  font-family: "ScriptinaPro";
  src: local("ScriptinaPro"),
    url("./assets/fonts/scriptina-pro/ScriptinaPro.otf") format("opentype");
}

.font-face-sp {
  font-family: "ScriptinaPro";
}

:root {
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-beige: #c8ab8b;
  --primary-white:#dacdbf;
  --secondary-rust: #925b45;
  --accent-red-dark: #6f1c12;
  --accent-green-dark:#404536;
  --accent-green-light: #626456;

  color: var(--accent-green-dark);
  background-color: var(--primary-beige);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  width: 100%;
}

.content {
  padding: 20px;
  box-sizing: border-box;
  margin-left: 50%;
}