.new-button {
    background-color: var(--accent-red-dark);
    color: var(--primary-beige);
    text-decoration: none;
    display: inline-block;
    padding: 5% 0% 0% 10%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 200%;
    text-align: center;
    justify-content: center;
    border: 1px solid transparent;
    cursor: pointer;
}

.new-button:focus,
.new-button:focus-visible {
  outline: none;
}

.new-button:hover {
    border-color: var(--accent-red-dark);
    font-size: 220%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.nav-button {
    text-decoration: none;
    display: inline-block;
    padding: 16px;
    border-radius: 50%;
}

.tag-button {
    border-radius: 12px;
}