button {
    color: var(--primary-beige);
    background-color: var(--secondary-rust);
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

.new-btn {
    background-color: var(--accent-red-dark);
    text-decoration: none;
    display: inline-block;
    padding: 5% 0% 0% 10%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 200%;
}

.new-btn:focus,
.new-btn:focus-visible {
  outline: none;
}

.new-btn:hover {
    border-color: var(--accent-red-dark);
    font-size: 220%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.nav-btn-round {
    text-decoration: none;
    display: inline-block;
    padding: 16px;
    border-radius: 50%;
}

.nav-btn-square {
    border-radius: 8px;
    margin: 2px;
    font-weight: 600;
}

.save-btn, .edit-btn, .cancel-btn {
    padding: 0.5rem 1.4rem;
    min-width: 92px;
    
}

.save-btn, .edit-btn {
    background-color: var(--accent-red-dark);
}

.tag-btn {
    background-color: var(--accent-green-light);
    padding: 0.2rem 0.5rem;
}