form {
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--primary-white);
    border-radius: 8px;
    max-width: 600px;
    min-width: 10rem;
}

.form-input {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--primary-white);
    border: 1px solid var(--accent-green-dark);
}

.form-btns {
    display: flex;
    justify-content: flex-end;
}

.space-after-field {
    margin-bottom: 10px;
}