form {
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    background-color: var(--primary-white);
}

label {
    display: block;
}

input[type="date"] {
    resize: none;
}

.form-input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-btns {
    display: flex;
    justify-content: flex-end;
}