.sidebar {
    width: 30%;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: var(--secondary-rust);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

.sidebar nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-beige);
    font-size: 1.5rem;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.sidebar nav ul p {
    padding-left: 100px;
    padding-right: 100px;
}