.sidebar {
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: var(--secondary-rust);
}

.sidebar nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20%;
    background-color: var(--secondary-rust);
    color: var(--primary-beige);
    font-size: 1.5rem;
    font-weight: bold;
}