select {
  border-radius: 8px;
  margin-bottom: 10%;
  margin-top: 10%;
  border: none;
  box-sizing: border-box;
  resize: horizontal;
  padding: 0.7rem 1.7rem;
  min-width: 10rem;
  font-family: inherit;
  font-weight: 400;
  background-color: var(--primary-beige);
  color: var(--accent-green-dark);
}

select:focus {
  outline: 2px double;
  border-color: var(--accent-green-light);
}

select {
  -webkit-appearance: none;
  appearance: none;
}

select option {
  background: var(--primary-beige); 
  color: var(--accent-green-dark); 
  box-shadow: inset 20px 20px var(--primary-beige);
} 

select option:hover {
  color: var(--primary-beige);; 
  box-shadow: inset 20px 20px var(--accent-green-light);;
}